/* #card{
    width: 300px;
    margin-bottom: 15px;

} */

/* img.card-img-top {
    width: 300px;
    height: 200px;
    background-color: lightgray;
} */

h1.titleCharacters {
    color: red;
}


.far.fa-heart {
    color: red;
    font-size: 28px;
    float: right;
}


  /* i.far.fa-heart {
    color: gray;
} */

i:link {
    color: red;
  }
  
  /* visited link */
  i.far.fa-heart:visited {
    color: green;
  }
  
  /* mouse over link */
  i.far.fa-heart:hover {
    color: hotpink;
  }
  
  /* selected link */
  i.far.fa-heart:active {
    color: blue;
  }